<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    ## magomo: check if the file exists in "videos" and, if found, stop and display it
    RewriteCond  %{DOCUMENT_ROOT}/videos/$1 -f
    RewriteRule  ^(.*)$  /videos/$1  [L,QSA]

    ## https://laravel.com/docs/8.x/authentication
    ## A Note On FastCGI
    ## If you are using PHP FastCGI and Apache to serve your Laravel application, HTTP
    ## Basic authentication may not work correctly. To correct these problems, the
    ## following lines may be added to your application's .htaccess file:
    ## RewriteCond %{HTTP:Authorization} ^(.+)$
    ## RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]




    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
