body { 
    display: block; 
    overflow: hidden; 
    width: 100%; 
    height: 100vh; 
    margin: 0; 
    padding: 0;
}

li a { color: inherit; text-decoration: none; }

#mainlogo { 
    position: fixed; 
    top: 20px; 
    left: 20px; 
    max-width: 50px; 
    height: auto; 
    z-index: 99; 
    cursor: pointer; 
}

#mainnavbox { 
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: auto; 
    height: auto; 
    z-index: 99; 
    color: #fff; 
}

#mainnavbar { list-style: none; padding: 0; margin: 0; }

.mainnavbaritem { 
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 10px;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 2px;
    border-top: 1px dotted;
}

mainnavbaritem:active { color: inherit; }
mainnavbaritem:visited { color: inherit; }
mainnavbaritem:hover { color: inherit; }
mainnavbaritem:link { color: inherit; }


.theblock {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 1;
    background-color: #ccc;
    transition: opacity .8s; 
}

.keyblock { 
    text-align: center; 
    vertical-align: middle;
}

.oneblock { 
    text-align: center; 
    display: table-cell; 
    vertical-align: middle;
}

.theman { 
    box-sizing: border-box;
    width: 100%; 
    max-width: 1104px; 
    min-height: 60vh;
    padding: 0 20px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain; 
}

.mainman { margin: 15% auto 0; }

.boxman { margin: 120px auto 0; }

.maintitle { 
    margin: calc( (100vh - 150px) /2 ) 0 0; 
    text-align: center; 
    font-family: arial; 
    letter-spacing: 10px; 
    font-weight: bold; 
    font-size: 15vw; 
    color: #0a3f6f; 
    text-shadow: 02px 2px 10px #000; 
    animation-name: lightingEffect;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

@keyframes lightingEffect {
  0%   { color: #1162ac; }
  50%  { color: #9ac8f3; }
  100% { color: #1162ac; }
}

.boxtitle { 
    margin: 0 0 20px;
    text-align: left;
    font-family: arial;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 3.5vw;
    color: #fff;
    text-shadow: 02px 2px 4px #000;
}

.mainsubtitle { 
    margin: 0; 
    text-align: center; 
    font-family: arial; 
    letter-spacing: 3px; 
    font-weight: bold; 
    font-size: 1.5vw; 
    color: #021459; 
}

.boxsubtitle { 
    margin: 0;
    text-align: left;
    font-family: arial;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.5vw;
    color: #ccc;
}

.boxcontent { 
    margin: 40px 0 0; 
    text-align: left; 
    font-family: arial; 
    letter-spacing: 3px; 
    font-weight: normal; 
    font-size: 1.2vw; 
    color: #fff;
    letter-spacing: 1px;
    line-height: 150%;
}

.navButton {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    background-color: transparent;
    border-bottom: solid #fff 3px;
    padding: 10px;
    border-radius: 20%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
}



.nextButton {
    right: 50px;
}

.prevButton {
    left: 50px;
}


#equipoul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15%;
    grid-auto-rows: minmax(100px, auto);
    margin: 0;
    padding: 0;
}

#equipoul li { display: block; text-align: center; max-width: auto; margin: 0 auto; }

#equipoul li img { 
    display: block;
    width: 100%; 
    height: auto;
    margin: 0 0 10px;
    border-radius: 50%;
    opacity: .5;
}

@media only screen and (max-width: 1150px) { 

    li { margin: 0 0 16px 0; font-size: 16px; }

    .theman {
        min-height: 70vh;
    }

    .boxman {
        padding-left: 20px;
        padding-right: 20px;
    }

    .maintitle { 
       font-size: 15vw; 
    }

    .boxtitle { 
        font-size: 30px;
        letter-spacing: 1px;
    }

    .mainsubtitle { 
        font-size: 12px; 
        letter-spacing: 1px;
    }
    
    .boxsubtitle { 
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    .boxcontent { 
        margin: 20px 0 0; 
        font-size: 18px; 
        letter-spacing: 1px;
    }

    .nextButton {
        right: 20px;
        bottom: 20px;
    }
    
    .prevButton {
        left: 20px;
        bottom: 20px;
    }

}

@media only screen and (max-width: 850px) { 

    #mainnavbar { display: none; }

    .mainnavbaritem { 
        display: block;
        padding: 10px;
        margin: 10px 0;
        letter-spacing: 2px;
        border-top: 1px dotted;
    }

    .boxman {
        margin-top: 30px;
    }

    .boxtitle { 
        margin: 20px 0 50px;
        font-size: 30px;
        letter-spacing: 1px;
        text-align: right;        
    }

    .boxcontent { 
        margin: 20px 0 0; 
        font-size: 14px; 
        letter-spacing: 1px;
    }

    #equipoul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: minmax(0, auto);
    }

    #equipoul li img { max-width: 15vh; }

    #equipoul li a { font-size: small; text-align: center; }

}